.terraform
.terragrunt-cache

exporter/__pycache__
exporter/venv
exporter/bin

exporter/certifi*
exporter/chardet*
exporter/gspread*
exporter/httplib2*
exporter/idna*
exporter/oauth2client*
exporter/pyasn1*
exporter/PyYAML*
exporter/requests*
exporter/rsa*
exporter/six*
exporter/urllib3*
exporter/yaml/

exporter/config.yml

*.pyc
